@using PagedList.Mvc;
@using PagedList;

@model IPagedList<NotesMarketPlace.NoteDetails>

<div class="col-md-12" id="under-review-book">

    <div class="general-table table-responsive">

        <table class="table table-one-col-color-in-publishednote">
            <thead>
                <tr>
                    <th scope="col">
                        SR. NO
                    </th>
                    <th scope="col">
                        @Html.ActionLink("NOTE TITLE", "NotesUnderReview", "Notes", new { sortBy = ViewBag.SortByNoteTitle, search = Request["search"] }, null)
                    </th>
                    <th scope="col">
                        @Html.ActionLink("CATEGORY", "NotesUnderReview", "Notes", new { sortBy = ViewBag.SortByCategory, search = Request["search"] }, null)
                    </th>
                    <th scope="col">
                        @Html.ActionLink("SELLER", "NotesUnderReview", "Notes", new { sortBy = ViewBag.SortBySeller, search = Request["search"] }, null)
                    </th>
                    <th scope="col"></th>
                    <th scope="col">
                        @Html.ActionLink("DATE ADDED", "NotesUnderReview", "Notes", new { sortBy = ViewBag.SortByStatus, search = Request["search"] }, null)
                    </th>
                    <th scope="col">
                        @Html.ActionLink("STATUS", "NotesUnderReview", "Notes", new { sortBy = ViewBag.SortByCreatedDate, search = Request["search"] }, null)
                    </th>
                    <th scope="col" class="text-center">
                        ACTION
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count == 0)
                {
                    <tr>
                        <td colspan="10">No records Found.</td>
                    </tr>
                }
                else
                {

                    int count = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <td scope="row">@count</td>
                            <td><a href="@Url.Action("NoteDetails", "Notes", new { id = item.ID })">@item.NoteTitle</a></td>
                            <td>@item.NoteCategories.CategoryName</td>
                            <td>@item.Users1.FirstName</td>
                            <td><a href="@Url.Action("MemberDetails", "Members", new { id = item.UserID })"><img src="~/Content/Images/Dashboard/eye.png"></a></td>
                            <td>@item.CreatedDate.Value.ToString("dd-MM-yyyy, hh:mm")</td>
                            <td>@item.Status</td>
                            <td class="action-btn">

                                <a class="btn btn-success"
                                   onclick="return confirm('If you approve the notes – System will publish the notes over portal. Please press yes to continue.')"
                                   href="@Url.Action("ChangeStatusToPublished","Notes",new { id = @item.ID})">Approve</a>

                                <a onclick="openRejectModal(this)" class="btn btn-danger" data-id="@item.ID" data-title="@item.NoteTitle">Reject</a>

                                <a class="btn btn-secondary"
                                   onclick="return confirm('Via marking the note In Review – System will let user know that review process has been initiated. Please press yes to continue.')"
                                   href="@Url.Action("ChangeStatusToInReview","Notes",new { id = @item.ID })">InReview</a>

                            </td>
                            <td>
                                <div class="dropdown">
                                    <i onclick="showhideDropdown(@count)" class="fa fa-ellipsis-v dropbtn" id="ellipsis"></i>
                                    <div id="showhideDropdown_@count" class="dropdown-content">
                                        <a href="@Url.Action("DownloadNote","Notes",new { id=item.ID })">Download Notes</a>
                                        <a href="@Url.Action("NoteDetails","Notes",new { id=item.ID })">View More Details</a>
                                    </div>
                                </div>
                            </td>
                            @{ count++; }
                        </tr>
                    }
                }
            </tbody>
        </table>

    </div>

    <div class="justify-content-center">
        @if (Model != null)
        {
            @Html.PagedListPager(Model, page => Url.Action("NotesUnderReview", "Notes", new { page, search = Request["search"], sortBy = Request["sortBy"] }))
        }
    </div>

</div>

<!-- Model -->
<div class="modal fade" id="reject-note" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <input id="note-id" type="hidden" />
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            </div>

            <div class="modal-body">
                <h3 id="note-title"></h3>
                <div class="form-group comment">
                    <label class="comment">Remarks *</label>
                    <textarea class="form-control" id="remarks" name="comment" placeholder="Remarks..." rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-danger" onclick="RejectTheNote()" data-dismiss="modal">Reject</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>

        </div>

    </div>

</div>

<script>
    function openRejectModal(element) {
        var id = element.getAttribute('data-id');
        var title = element.getAttribute('data-title');
        $('#reject-note').modal('show');
        $('#note-id').val(id);
        $('#note-title').text(title);
    }

    function RejectTheNote() {

        if (confirm("Are you sure you want to reject seller request?")) {
            const remarks = $('#remarks').val();
            const id = $('#note-id').val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("ChangeStatusToRejected", "Notes")',
            dataType: "html",
            data: {
            id: id,
            remarks: remarks
            }
            });
        }

    }
</script>