@using PagedList;
@using PagedList.Mvc;

@model IPagedList<NotesMarketPlace.NoteDetails>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="dashboard-section">

    <div class="container section-container">

        <div class="row">

            <div class="col-md-10 col-sm-9 col-xs-8">
                <div class="dash-heading-left">
                    <h1>Dashboard</h1>
                </div>
            </div>

            <div class="col-md-2 col-sm-3 col-xs-4 search-btn">
                <a href="@Url.Action("AddNotes","User")"><button type="button" class="btn submit" style="width: 100%">ADD NOTE</button></a>
            </div>

        </div>

        <div class="my-note-status">

            <div class="row">
                <!-- Left -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="dashboard-border">
                        <div class="row" align="center">
                            <div class="col-md-4 col-sm-4 col-xs-12" id="my-earning-border">
                                <img src="~/Content/Images/Dashboard/earning-icon.svg" alt="Earning">
                                <h3>My Earning</h3>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3>100</h3>
                                <p>Number of notes sold</p>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <h3>$10,00,000</h3>
                                <p>Money Earned</p>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Right -->
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row" align="center">
                        <div class="col-md-4 col-sm-4">
                            <div class="dashboard-border">
                                <h3>38</h3>
                                <p>My Downloads</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="dashboard-border">
                                <h3>12</h3>
                                <p>My Rejected Notes</p>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4">
                            <div class="dashboard-border">
                                <h3>102</h3>
                                <p>Buyes Requests</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container section-container">

            <div class="row">

                <div class="col-md-7 col-sm-6 col-xs-12">
                    <div class="dash-heading-left">
                        <h4>In Progress Notes</h4>
                    </div>
                </div>

                @if (ViewBag.Message != null)
                {
                    <div class="col-md-12">
                        <h4>@ViewBag.Message</h4>
                    </div>
                }
                else
                {

                    using (Html.BeginForm("Dashboard", "User", FormMethod.Get))
                    {

                        <div class="col-md-3 col-sm-4 col-xs-8">
                            <div class="form-group dash-heading-right">
                                <img src="~/Content/Images/Dashboard/search-icon.svg">
                                <input type="search" name="search" value="" placeholder="Search" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-4 search-btn">
                            <button type="submit" class="btn submit" style="width:100%">SEARCH</button>
                        </div>
                    }

                    <div class="col-md-12">

                        <div class="general-table table-responsive">

                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">
                                            @Html.ActionLink("ADDED DATE", "Dashboard", "User", new { sortBy = ViewBag.SortByCreatedDate, search = Request["search"] }, null)
                                        </th>
                                        <th scope="col">
                                            @Html.ActionLink("TITLE", "Dashboard", "User", new { sortBy = ViewBag.SortByNoteTitle, search = Request["search"] }, null)
                                        </th>
                                        <th scope="col">
                                            @Html.ActionLink("CATEGORY", "Dashboard", "User", new { sortBy = ViewBag.SortByCategory, search = Request["search"] }, null)
                                        </th>
                                        <th scope="col">
                                            @Html.ActionLink("STATUS", "Dashboard", "User", new { sortBy = ViewBag.SortByStatus, search = Request["search"] }, null)
                                        </th>
                                        <th scope="col">ACTION</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model == null)
                                    {
                                        <tr>
                                            <td colspan="10">No records Found.</td>
                                        </tr>
                                    }
                                    else
                                    {
                                        foreach (var item in Model)
                                        {
                                            if (item.Status != "Published")
                                            {
                                                <tr>
                                                    @{string date = item.CreatedDate?.ToString("dd-MM-yyyy");}
                                                    <td scope="row">@date</td>
                                                    <td>@item.NoteTitle</td>
                                                    <td>@item.NoteCategories.CategoryName</td>
                                                    <td>@item.Status</td>
                                                    <td>
                                                        @if (item.Status == "Draft")
                                                        {
                                                            <a href="@Url.Action("AddNotes","User",new { ID = item.ID })"><img src="~/Content/Images/Dashboard/edit.png"></a>
                                                            <a href="@Url.Action("DeleteRecord","User",new {id = item.ID })" onclick="return confirm('Do you want to delete the record?')">
                                                                <i class="fa fa-trash"></i>
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <img src="~/Content/Images/Dashboard/eye.png">
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    }
                            </table>

                        </div>

                        <div class="justify-content-center">
                            @if (Model != null)
                            {
                                @Html.PagedListPager(Model, page => Url.Action("Dashboard", "User", new { page, search = Request["search"] }))
                            }
                        </div>

                    </div>

                }

            </div>

        </div>

    </div>

</div>