@model NotesMarketPlace.Models.AddNoteViewModel
@{
    ViewBag.Title = "Add Notes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Add Note  -->
<section id="user-input-page">

    <!-- Top Title Banner -->
    <div class="page-banner">
        <h3 class="text-center">Add Notes</h3>
    </div>

    @using (Html.BeginForm("AddNoteDetails", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
    { 

        <!-- Add Note -->
        <div class="add-note">

            <div class="basic-note-details">

                <div class="container section-container">

                    <div class="row">

                        @if (TempData["NotePreviewIsRequired"] != null)
                        {
                            <p class="validation-error">@TempData["NotePreviewIsRequired"]</p>
                        }

                        <div class="col-md-12 heading">
                            <h3>Basic Note Details</h3>
                        </div>

                        <p>@Html.HiddenFor(x => x.ID)</p>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NoteTitle, "Title *", new { @class = "name-of-input" })
                                @Html.TextBoxFor(m => m.NoteTitle, new { @class = "form-control", @placeholder = "Enter your note title" })
                                @Html.ValidationMessageFor(m => m.NoteTitle, "", new { @class = "error" })
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.CategoryID, "Category *", new { @class = "name-of-input" })
                                @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.Categories, "ID", "CategoryName"), "Select your Category", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CategoryID, "", new { @class = "error" })
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="display-picture" class="name-of-input">Display Picture</label>
                            <div class="image-upload text-center">
                                <label for="file-input">
                                    <img src="~/Content/Images/User-Profile/upload.png" />
                                    @Html.TextBoxFor(m => m.DisplayPicture, new { @type = "file", @id = "image-input", @name = "upload", @onchange = "ImageValidation()" })
                                </label>
                            </div>
                            <span id="img-extension-error">You can only upload file in png format.</span>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="upload-note" class="name-of-input">Upload Notes<i> * </i></label>
                            <div class="image-upload text-center">
                                <label for="file-input">
                                    <img src="~/Content/Images/User-Profile/upload.png" />
                                    @Html.TextBoxFor(m => m.UploadNote, new { @type = "file", @id = "file-input", @name = "upload", @onchange = "fileValidation1()", @multiple="multiple" })
                                </label>
                            </div>
                            <span id="file-extension-error-1">You can only upload file in pdf format.</span>
                        </div>

                        <div class="col-md-6 col-sm-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.TypeID, "Type *", new { @class = "name-of-input" })
                                @Html.DropDownListFor(m => m.TypeID, new SelectList(Model.Types, "ID", "Type"), "Select your note type", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.TypeID, "", new { @class = "error" })
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.NumberOfPages, "Number of Pages", new { @class = "name-of-input" })
                                @Html.TextBoxFor(m => m.NumberOfPages, "", new { @class = "form-control", @placeholder = "Enter number of note pages" })
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Description, "Description *", new { @class = "name-of-input" })
                                @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @placeholder = "Enter your description", @rows = "6" })
                                @Html.ValidationMessageFor(m => m.Description, "", new { @class = "error" })
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Institution Information -->
            <div class="institution-information">

                <div class="container section-container">

                    <div class="row">

                        <div class="col-md-12 heading">
                            <h3>Institution Information</h3>
                        </div>

                        <div class="col-md-6 col-sm-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.CountryId, "Country *", new { @class = "name-of-input" })
                                @Html.DropDownListFor(m => m.CountryId, new SelectList(Model.Countries, "ID", "CountryName"), "Select your Country", new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.CountryId, "", new { @class = "error" })
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-6">

                            <div class="form-group">
                                @Html.LabelFor(m => m.InstitutionName, "Institution Name", new { @class = "name-of-input" })
                                @Html.TextBoxFor(m => m.InstitutionName, "", new { @class = "form-control", @placeholder = "Enter your Institute name" })
                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!-- Course Details -->
            <div class="cource-details">

                <div class="container section-container">

                    <div class="row">

                        <div class="col-md-12 heading">
                            <h3>Cource Details</h3>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Course, "Course", new { @class = "name-of-input" })
                                @Html.TextBoxFor(m => m.Course, "", new { @class = "form-control", @placeholder = "Enter your cource name" })
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CourseCode, "Course Code", new { @class = "name-of-input" })
                                @Html.TextBoxFor(m => m.CourseCode, "", new { @class = "form-control", @placeholder = "Enter your cource code" })
                            </div>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Professor, "Professor / Lecturer", new { @class = "name-of-input" })
                                @Html.TextBoxFor(m => m.Professor, "", new { @class = "form-control", @placeholder = "Enter your professor name" })
                            </div>
                        </div>

                    </div>

                </div>

            </div>

            <!-- Selling Information -->
            <div class="selling-information">

                <div class="container section-container">

                    <div class="row">

                        <div class="col-md-12 heading">
                            <h3>Selling Information</h3>
                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="sell for" class="name-of-input">Sell For<i> * </i></label>

                            <div class="row">

                                <div class="col-md-3 col-sm-4 col-xs-4 radio-btn">
                                    <input type="radio" name="IsPaid" value="False" checked /><span>Free</span>
                                </div>

                                <div class="col-md-3 col-sm-4 col-xs-4 radio-btn">
                                    <input type="radio" name="IsPaid" value="True" class="paid" /><span>Paid</span>
                                </div>

                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.SellPrice, "Sell Price *", new { @class = "name-of-input" })
                                @Html.TextBoxFor(m => m.SellPrice, "", new { @class = "form-control", @id = "sell-price", @placeholder = "Enter your Price", Value = "", @disabled = "disabled" })
                                @Html.ValidationMessageFor(m => m.SellPrice, "", new { @class = "error" })
                            </div>

                        </div>

                        <div class="col-md-6 col-sm-6">
                            <label for="display-picture" class="name-of-input">Note Preview</label>
                            <div class="image-upload text-center">
                                <label for="file-input">
                                    <img src="~/Content/Images/User-Profile/upload.png" />
                                    @Html.TextBoxFor(m => m.NotePreview, new { @type = "file", @id = "file-input", @name = "upload", @onchange = "fileValidation2()" })
                                </label>
                            </div>
                            <span id="file-extension-error-2">You can only upload Note Preview in pdf extension.</span>

                        </div>

                    </div>'

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <button type="submit" class="btn submit">SAVE</button>
                            <button type="submit" class="btn submit">PUBLISH</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    }

</section>
<!-- End User Profile  -->
