@model NotesMarketPlace.Models.ChangePasswordViewModel
<!DOCTYPE html>

<html>

<head>

    <title>Change Password</title>

    <!-- important meta tage-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="icon" href="~/Content/Images/home/favicon.ico" />

    <!-- font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <!-- icons -->
    <link href="~/Content/Front/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS-->
    <link href="~/Content/Front/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <!-- css page -->
    <link href="~/Content/Front/style.css" rel="stylesheet" />

    <!-- Responsive CSS -->
    <link href="~/Content/Front/responsive.css" rel="stylesheet" />

</head>

<body>

    <!-- Change Password Section -->
    <section class="user-page-banner">

        <div class="text-center">
            <img class="top-logo" src="~/Content/Images/general/top-logo.png" alt="Logo">
        </div>

        <div class="user-input-field">

            <div class="title text-center">
                <h3>Change Password</h3>
                <p> Enter your new password to change your password </p>
            </div>

            @using (Html.BeginForm("AddChangedPassword", "AdminAccount", FormMethod.Post))
            { 
                if (TempData["IncorrectPwd"] != null)
                {
                    <p class="validation-error">@TempData["IncorrectPwd"]</p>
                }

                <div class="form-group">
                    @Html.LabelFor(x => x.OldPassword, "Old Password", new { @class = "password" })
                    @Html.TextBoxFor(x => x.OldPassword, "", new { @class = "form-control", @placeholder = "Enter your old password", @id = "old-password", @type = "password" })
                    <i toggle="#old-password" class="fa fa-eye field-icon toggle-password" aria-hidden="true"></i>
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.NewPassword, "New Password", new { @class = "password" })
                    @Html.TextBoxFor(x => x.NewPassword, "", new { @class = "form-control", @placeholder = "Enter your new password", @id = "new-password", @type = "password" })
                    <i toggle="#new-password" class="fa fa-eye field-icon toggle-password" aria-hidden="true"></i>
                    @Html.ValidationMessageFor(x => x.NewPassword, "", new { @class = "error" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(x => x.ConfirmPassword, "Confirm Password", new { @class = "password" })
                    @Html.TextBoxFor(x => x.ConfirmPassword, "", new { @class = "form-control", @placeholder = "Enter your old password", @id = "confirm-password", @type = "password" })
                    <i toggle="#confirm-password" class="fa fa-eye field-icon toggle-password" aria-hidden="true"></i>
                    @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "error" })
                </div>

                <button type="submit" class="btn">SUBMIT</button>

            }

        </div>

    </section>

    <!-- Jquery Module -->
    <script src="~/Scripts/Front/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Front/bootstrap/bootstrap.min.js"></script>

    <!-- Validation JS -->
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

    <!-- Javascript Page -->
    <script src="~/Scripts/Front/script.js"></script>

</body>
</html>
